* {
    --ion-margin: 10px;
    --ion-padding: 10px;

    --ion-primary-color: #33635C;
    --ion-secondary-color: #C26807;

    --light: #EAEAEA;
    --dark: rgb(22, 22, 22);
    
    --ion-font-family: 'Montserrat';

    --ion-text-size: 16px;
    --ion-title-size: 20px;
    --ion-secondary-size: 14px;
}