<ion-header>
    <ion-toolbar class="toolbar-custom" color="dark">
        <ion-menu-button slot="start" type="button"></ion-menu-button>
        <div class="block-infos">
          <h1>Dernière Sortie</h1>
        </div>
        
      </ion-toolbar>
</ion-header>

<ion-content>
<pre>

<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/0CZaV1eIj2PoQwerlgFQxc?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1vdaSkOySC00RtauOzgBfH?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/5yaL8S5M7PvdFJftimpudM?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe> 

<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/0ZFzxB5A6JKJnDZ2mmbSgc?utm_source=generator" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>  
</pre>


<div class="button">
    <ion-button routerLink="/welcome" shape="circle" (click)="buttonClicked()">
        <ion-icon name='arrow-back-circle-sharp' style="color:whitesmoke"></ion-icon>
      </ion-button>

  </div>

  

</ion-content>
