<ion-content class="auth-form" >
  <ion-grid>
    <ion-row>
      
      <ion-col align-self-center><br><br><br><br><br><br><br><br><br><br><br><br>
        
        
        <ion-button [routerLink]="['/login']" expand="block" >Sign In</ion-button>

        <ion-button [routerLink]="['/planning']" expand="block" >planning</ion-button>

        <ion-button [routerLink]="['/welcome']" expand="block" >Welcome page</ion-button>

        <ion-button [routerLink]="['/todolist']" expand="block" >To do list</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
